---
import LayoutBlog from "../../layouts/LayoutBlog.astro";
const services = [
  {
    title: 'Visas',
    description: 'Get your Colombian visa',
    url: '/ex/services/visas'
  },
  {
    title: 'Immigration services',
    description: 'Have you been subject to a sanction?',
    url: '/ex/services/immigration'
  },
  {
    title: 'Legal Advice',
    description: 'Protect your rights',
    url: '/ex/services/legal-advice'
  },
//   {
//     title: 'Renting property',
//     description: '¿Sin tiempo para revisar o redactar contratos?'
//   },
//   {
//     title: 'Buying property',
//     description: 'For cool remote workers'
//   },
//   {
//     title: 'Starting a company',
//     description: 'For cool remote workers'
//   },
]

const latestPosts = await Astro.glob('./blog/posts/*.mdx');
---
<style>
    .prose {
				max-width: 100%!important;
    }
</style>
<LayoutBlog>
    
  <div class="hero h-screen md:h-80 bg-base-200">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <h1 class="text-5xl font-bold">Expats</h1>
        <p class="py-6">Get your visa, file your claim. All bilingual</p>
      </div>
    </div>
  </div>

    <h3>Services</h3>
    <div class="container mx-auto grid gap-2 grid-cols-1 sm:grid-cols-2 md:grid-cols-3">
      {services.map((service, i) => (
          <a href={service.url} class="card card-body hover:outline-none w-96 sm:w-60 md:w-full my-3 mx-auto sm:my-4 bg-base-100 hover:bg-base-600 shadow-md hover:shadow-lg">
                <h2 class="card-title">
                  {service.title}
                </h2>
                <p>{service.description}</p>
          </a>
      ))}
    </div>
    <h3>Latest Posts</h3>
    <div class="container mx-auto grid gap-2 grid-cols-1 sm:grid-cols-2 md:grid-cols-3">
      {latestPosts.map((post, i) => (
          <a href={post.url} class="card card-body hover:outline-none w-96 sm:w-60 md:w-full my-3 mx-auto sm:my-4 bg-base-100 hover:bg-base-600 shadow-md hover:shadow-lg">
                <h2 class="card-title">
                  {post.frontmatter.title}
                </h2>
                <p>{post.frontmatter.description}</p>
          </a>
      ))}
    </div>

    
</LayoutBlog>
