---
import HeadCommon from '../components/HeadCommon.astro';
import HeadSEO from '../components/HeadSEO.astro';

import * as CONFIG from '../config';
import type { MarkdownHeading } from 'astro';
import Footer from '../components/Footer/Footer.astro';

type Props = {
	frontmatter: CONFIG.Frontmatter;
	headings: MarkdownHeading[];
};

const { frontmatter, headings } = Astro.props as Props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const currentPage = Astro.url.pathname;
const currentFile = `src/pages${currentPage.replace(/\/$/, '')}.md`;
import NavbarBlog from '../components/Navs/NavbarBlog.astro';
import DrawerBlog from '../components/Navs/DrawerBlog.astro';
import FbChatPlugin from '../components/Both/fb-chat-plugin.astro';
import DisqusPlugin from '../components/Both/disqus-plugin.astro';

const allPosts = await Astro.glob('../pages/em/blog/posts/*.mdx');
const currentUrl = Astro.url.pathname;
import servEm from '../pages/em/servicios/servicios.js'
import servEx from '../pages/ex/services/services.js'
const isEm = currentUrl.startsWith('/em')
const isEx = currentUrl.startsWith('/ex')

---

<html>
	<head>
		<HeadCommon />
		<HeadSEO frontmatter={frontmatter} canonicalUrl={canonicalURL} />
		<style>
			.prose {
				max-width: 80ch;
			}
		</style>
	</head>
	<body>
		<FbChatPlugin/>
		{ isEm ? <NavbarBlog servEm={servEm} /> : <NavbarBlog servEx={servEx} /> }
		<div class="drawer drawer-mobile h-auto">
			<input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
			<div class="drawer-content overflow-auto m-3 min-h-screen">
			  	<article class="prose mx-auto">
				  <slot />
				</article>
				{ currentUrl.startsWith('/em/blog') || currentUrl.startsWith('/ex/blog') ? <div class="my-5 p-5 bg-white"><DisqusPlugin /></div> : ''}
				
			</div> 

			{ isEm ? <DrawerBlog servEm={servEm} /> : '' }
			{ isEx ? <DrawerBlog servEx={servEx} /> : '' }

		  </div>
		<Footer />
	</body>
</html>
