---
import HeadCommon from '../components/HeadCommon.astro';
import HeadSEO from '../components/HeadSEO.astro';
import Header from '../components/Header/Header.astro';
import PageContent from '../components/PageContent/PageContent.astro';
import LeftSidebar from '../components/LeftSidebar/LeftSidebar.astro';
import RightSidebar from '../components/RightSidebar/RightSidebar.astro';
import * as CONFIG from '../config';
import type { MarkdownHeading } from 'astro';
import Footer from '../components/Footer/Footer.astro';

type Props = {
	frontmatter: CONFIG.Frontmatter;
	headings: MarkdownHeading[];
};

const { frontmatter, headings } = Astro.props as Props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const currentPage = Astro.url.pathname;
const currentFile = `src/pages${currentPage.replace(/\/$/, '')}.md`;
const githubEditUrl = `${CONFIG.GITHUB_EDIT_URL}/${currentFile}`;
import NavbarWiki from '../components/Navs/NavbarWiki.astro';
import DrawerEmprendedores from '../components/Navs/DrawerEmprendedores.astro';
---

<html lang={frontmatter.lang ?? 'en-us'} class="initial">
	<head>
		<HeadCommon />
		<HeadSEO frontmatter={frontmatter} canonicalUrl={canonicalURL} />
		<title>
			{frontmatter.title ? `${frontmatter.title} 🚀 ${CONFIG.SITE.title}` : CONFIG.SITE.title}
		</title>
		<style>
			body {
				width: 100%;
				display: grid;
				grid-template-rows: var(--theme-navbar-height) 1fr;
				--gutter: 0.5rem;
				--doc-padding: 2rem;
			}

			.layout {
				display: grid;
				grid-auto-flow: column;
				grid-template-columns: minmax(var(--gutter), 1fr) minmax(0, var(--max-width)) minmax(
						var(--gutter),
						1fr
					);
				overflow-x: hidden;
				/* overflow-y: hidden; */
			}

			.grid-sidebar {
				height: 100vh;
				position: sticky;
				top: 0;
				padding: 0;
			}

			#grid-left {
				position: fixed;
				background-color: var(--theme-bg);
				z-index: 10;
				display: none;
			}

			#grid-main {
				padding: var(--doc-padding) var(--gutter);
				grid-column: 2;
				display: flex;
				flex-direction: column;
				height: 100%;
			}

			#grid-right {
				display: none;
			}

			@media (min-width: 50em) {
				.layout {
					overflow: initial;
					grid-template-columns: 20rem minmax(0, var(--max-width));
					gap: 1em;
				}

				#grid-left {
					display: flex;
					padding-left: 2rem;
					position: sticky;
					grid-column: 1;
				}
			}

			@media (min-width: 72em) {
				.layout {
					grid-template-columns: 20rem minmax(0, var(--max-width)) 18rem;
					padding-left: 0;
					padding-right: 0;
					margin: 0 auto;
				}

				#grid-right {
					grid-column: 3;
					display: flex;
				}
			}
			/* .drawer-toggle ~ .drawer-content {
				overflow-y: hidden;
			} */

		</style>
		<style is:global>
			.layout > * {
				width: 100%;
				height: 100%;
			}

			.mobile-sidebar-toggle {
				overflow: hidden;
			}

			.mobile-sidebar-toggle #grid-left {
				display: block;
				top: 2rem;
			}
		</style>
	</head>

	<body>
		<!-- <Header currentPage={currentPage} /> -->
		<NavbarWiki/>
		<!-- <DrawerEmprendedores/> -->
		<div class="drawer">
			<input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
			<div class="drawer-content flex flex-col items-center justify-center">
				<main class="layout">
					<aside id="grid-left" class="grid-sidebar" title="Site Navigation">
						<LeftSidebar currentPage={currentPage} />
					</aside>
					<div id="grid-main">
						<PageContent frontmatter={frontmatter} headings={headings} githubEditUrl={githubEditUrl}>
							<slot />
						</PageContent>
					</div>
					<aside id="grid-right" class="grid-sidebar" title="Table of Contents">
						<RightSidebar headings={headings} githubEditUrl={githubEditUrl} />
					</aside>
				</main>
			</div> 
			<div class="drawer-side">
			  <label for="my-drawer-3" class="drawer-overlay"></label> 
			  <ul class="menu p-4 w-80 bg-base-100 text-base-content">
				<!-- Sidebar content here -->
				<li class="menu-title">
					<span>Más M</span>
					<li><a href="/em/wiki">Wiki</a></li>
					<li><a href="/both/es/contacto">Contacto</a></li>
					<li><a href="/ex">Expats</a></li>
				</li>
				<li class="menu-title">
					<span>Servicios</span>
				</li>
				<li><a href="/em/servicios/registro-de-marca">Registro de Marca</a></li>
				<li><a href="/em/servicios/estudio-previo">Estudio previo</a></li>
				<li><a href="/em/servicios/redaccion-de-contratos">Redacción de contratos</a></li>
				<li class="menu-title">
					<span>Entradas anteriores</span>
				</li>
				<li><a href="/em/blog/posts/como-utilizar-minutas">Cómo utilizar minutas</a></li>
				<li><a href="/em/blog/posts/5-tips-de-contratos">5 tips a la hora de firmar un contrato</a></li>
				<li><a href="/em/blog/posts/contrato-marketing-digital">Un contrato de márketing digital</a></li>
				<li><a href="/em/blog/posts/oposiciones-de-marca">¿Qué son las oposiciones de marca?</a></li>
				<li><a href="/em/blog/posts/examen-de-forma-en-registro-marca">El examen de forma en el proceso de registro de marca</a></li>
				<li><a href="/em/blog/posts/un-mundo-sin-derechos-de-autor">Un mundo sin derechos de autor</a></li>
				<li><a href="/em/blog/posts/quiero-formalizar-mi-negocio">Quiero formalizar mi negocio</a></li>
				<li><a href="/em/blog/posts/tramites-online-colombia-2023">Trámites online en Colombia 2023</a></li>
				<li><a href="/em/blog/posts/que-hacer-con-un-imitador-de-marca">Qué hacer ante una imitación de marca</a></li>
				<li><a href="/em/blog/posts/para-que-sirve-estudio-de-titulos">¿Para qué sirve un estudio de títulos?</a></li>
				<li><a href="/em/blog/posts/certificado-buenas-practicas-manufactura">Certificado de buenas prácticas de manufactura</a></li>
				<li><a href="/em/blog/posts/eliminacion-descuento-jovenes-marca-2023">Eliminación de descuento por edad para registro de marca 2023</a></li>
			  </ul>
			  </ul>			
			</div>
		</div>
		<Footer path={currentFile} />
	</body>
</html>